In [119]:
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in c:\users\antoine\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: ipython in c:\users\antoine\anaconda3\lib\site-packages (from ipython-autotime) (7.29.0)
Requirement already satisfied: jedi>=0.16 in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (0.18.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (58.0.4)
Requirement already satisfied: pygments in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (5.1.0)
Requirement already satisfied: colorama in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (0.4.4)
Requirement already satisfied: backcall in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: decorator in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\antoine\anaconda3\lib\site-packages (from ipython->ipython-autotime) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\antoine\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\antoine\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 2.89 s (started: 2022-02-17 02:36:51 +01:00)

In [2]:
# Load the TensorBoard notebook extension
%load_ext tensorboard

time: 31 ms (started: 2022-02-17 01:57:03 +01:00)

In [3]:
import os
import pandas as pd
import numpy as np
import time
import datetime
import itertools
import glob
import re

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style as style
style.use('fivethirtyeight')

from skimage import io

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.utils import class_weight

import tensorflow as tf
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dense,Activation,Input,Dropout,Flatten,Conv2D,MaxPooling2D
from tensorflow.keras.layers import GlobalAveragePooling2D

time: 17.8 s (started: 2022-02-17 01:57:09 +01:00)

In [5]:
#Directory path in my com
root_dir ='C:/Users/ANTOINE/Project_Mushroom/' 
raw_data_dir = root_dir + 'raw_data/' #raw images folder
DL_dir = root_dir + 'deep_learning/' #Deep Learning folder

csv_file_paths = 'image_and_json_data.csv'

# export dir with time stamp to save the results of the Deep Learning
timestamp = datetime.datetime.now().strftime('%y%m%d_%HH%M')
export_dir = DL_dir + timestamp + '/'
os.makedirs(export_dir)
print(str(export_dir))

C:/Users/ANTOINE/Project_Mushroom/deep_learning/220217_01H58/
time: 16 ms (started: 2022-02-17 01:58:44 +01:00)

# Variables

In [35]:
family_number = 7
number_of_images = 5000
random_seed = 42
resol = (240, 320)
batch_size = 16

time: 0 ns (started: 2022-02-17 02:10:18 +01:00)

# Dataframe creation and processing

In [9]:
# load final database
df_paths =  pd.read_csv(root_dir + 'image_and_json_data.csv')
print(df_paths.shape)
df_paths.head()

(208774, 38)

,file_name,file_path,resolution,file_year,image_id,format,observation,label,image_url,user,...,gbif_info.canonicalName,gbif_info.phylumKey,gbif_info.class,gbif_info.synonym,gbif_info.scientificName,gbif_info.genus,gbif_info.order,gbif_info.note,gbif_info,json_file
0,1208.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(243, 320)",ages,1208,jpg,1007,Agaricales,http://mushroomobserver.org/images/320/1208,25,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
1,1604.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(320, 164)",ages,1604,jpg,1535,Agaricales,http://mushroomobserver.org/images/320/1604,43,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
2,1608.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(320, 286)",ages,1608,jpg,1537,Agaricales,http://mushroomobserver.org/images/320/1608,43,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
3,29.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(240, 320)",ages,29,jpg,23,Agaricales,http://mushroomobserver.org/images/320/29,1,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
4,680.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(240, 320)",ages,680,jpg,536,Agaricus,http://mushroomobserver.org/images/320/680,1,...,Agaricus,34.0,Agaricomycetes,False,Agaricus,Agaricus,Agaricales,NaN,NaN,row_data\json\observations_0.json

time: 1.39 s (started: 2022-02-17 02:03:41 +01:00)

In [10]:
# df with path & target 
df_paths = pd.read_csv(root_dir + csv_file_paths)
print('{} rows in the file'.format(len(df_paths)))
df_paths.head()

208774 rows in the file

,file_name,file_path,resolution,file_year,image_id,format,observation,label,image_url,user,...,gbif_info.canonicalName,gbif_info.phylumKey,gbif_info.class,gbif_info.synonym,gbif_info.scientificName,gbif_info.genus,gbif_info.order,gbif_info.note,gbif_info,json_file
0,1208.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(243, 320)",ages,1208,jpg,1007,Agaricales,http://mushroomobserver.org/images/320/1208,25,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
1,1604.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(320, 164)",ages,1604,jpg,1535,Agaricales,http://mushroomobserver.org/images/320/1604,43,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
2,1608.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(320, 286)",ages,1608,jpg,1537,Agaricales,http://mushroomobserver.org/images/320/1608,43,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
3,29.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(240, 320)",ages,29,jpg,23,Agaricales,http://mushroomobserver.org/images/320/29,1,...,Agaricales,34.0,Agaricomycetes,False,Agaricales,NaN,Agaricales,NaN,NaN,row_data\json\observations_0.json
4,680.jpg,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,"(240, 320)",ages,680,jpg,536,Agaricus,http://mushroomobserver.org/images/320/680,1,...,Agaricus,34.0,Agaricomycetes,False,Agaricus,Agaricus,Agaricales,NaN,NaN,row_data\json\observations_0.json

time: 1.3 s (started: 2022-02-17 02:03:51 +01:00)

In [11]:
#select only 320,240 images with family info
df_paths = df_paths[df_paths['resolution']=='(320, 240)']

time: 46 ms (started: 2022-02-17 02:04:13 +01:00)

In [12]:
# keep conf level over 90 
df_paths = df_paths.loc[df_paths['gbif_info.confidence']>90]

time: 31 ms (started: 2022-02-17 02:04:17 +01:00)

In [13]:
# keep only most common class
top_class = df_paths['gbif_info.class'].value_counts().index[0]
df_paths = df_paths[df_paths['gbif_info.class'] == top_class]
df_paths['gbif_info.class'].value_counts()

Agaricomycetes    75164
Name: gbif_info.class, dtype: int64

time: 79 ms (started: 2022-02-17 02:04:25 +01:00)

In [14]:
# drop na 
df_paths = df_paths[df_paths['gbif_info.family'].notna()]

time: 31 ms (started: 2022-02-17 02:04:38 +01:00)

In [17]:
# keep only top families 

top_fam = df_paths['gbif_info.family'].value_counts().index[:family_number].values
df_paths = df_paths[df_paths['gbif_info.family'].isin(top_fam)]

time: 31 ms (started: 2022-02-17 02:05:32 +01:00)

In [21]:
# subset col of interest + label encoding
df = df_paths[['file_path','gbif_info.family']].copy()
df['label'] = df['gbif_info.family'].replace(df['gbif_info.family'].unique(), [*range(len(df['gbif_info.family'].unique()))]).astype(str) # label encoding 

df.head()

                                           file_path gbif_info.family label
5  C:/Users/ANTOINE/Project_Mushroom/row_data\ima...      Agaricaceae     0
6  C:/Users/ANTOINE/Project_Mushroom/row_data\ima...      Agaricaceae     0
7  C:/Users/ANTOINE/Project_Mushroom/row_data\ima...      Agaricaceae     0
8  C:/Users/ANTOINE/Project_Mushroom/row_data\ima...      Agaricaceae     0
9  C:/Users/ANTOINE/Project_Mushroom/row_data\ima...      Agaricaceae     0

time: 31 ms (started: 2022-02-17 02:06:43 +01:00)

In [25]:

df_patbhs,_ = train_test_split(df_paths,train_size=number_of_images,stratify=df_paths['gbif_info.family'],random_state=random_seed )
print('{} rows in the file'.format(len(df_paths)))

5000 rows in the file
time: 63 ms (started: 2022-02-17 02:07:05 +01:00)

In [26]:
# subset col of interest + label encoding
df = df_paths[['file_path','gbif_info.family']].copy()
df['label'] = df['gbif_info.family'].replace(df['gbif_info.family'].unique(), [*range(len(df['gbif_info.family'].unique()))]).astype(str) # label encoding 

df.head()

,file_path,gbif_info.family,label
123138,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,Russulaceae,0
153128,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,Russulaceae,0
16589,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,Tricholomataceae,1
22151,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,Agaricaceae,2
110231,C:/Users/ANTOINE/Project_Mushroom/row_data\ima...,Strophariaceae,3

time: 16 ms (started: 2022-02-17 02:08:03 +01:00)

# Data for model

In [27]:
df_train, df_test= train_test_split(df, train_size=0.8, stratify =df['label'], random_state=random_seed)
print(df_train.shape,df_test.shape)

(4000, 3) (1000, 3)
time: 15 ms (started: 2022-02-17 02:08:41 +01:00)

In [30]:
# compute a class weigts dict for unbalanced loss computation
# { cf https://qastack.fr/datascience/13490/how-to-set-class-weights-for-imbalanced-classes-in-keras}
class_weights = class_weight.compute_class_weight(class_weight='balanced',classes =np.unique(df_train['label']),y =df_train['label'])
class_weights = dict(enumerate(class_weights))

time: 0 ns (started: 2022-02-17 02:09:08 +01:00)

In [49]:
# train 
train_data_generator = ImageDataGenerator(
                                          # rotation_range=rotation_range,
                                          # width_shift_range=width_shift_range,
                                          # height_shift_range=height_shift_range,
                                          # shear_range=shear_range,
                                          # zoom_range=zoom_range,
                                          # horizontal_flip=horizontal_flip,
                                          # vertical_flip=vertical_flip
                                          # fill_mode='nearest',
                                        ) 
train_generator = train_data_generator.flow_from_dataframe(dataframe = df_train, 
                                                          x_col = "file_path",y_col="label", 
                                                          shuffle = False,
                                                          target_size=resol,batch_size=batch_size,class_mode='sparse')

#test 
test_generator = ImageDataGenerator().flow_from_dataframe(dataframe = df_test,
                                                        x_col = "file_path",y_col="label", 
                                                          shuffle = False,
                                                          target_size=resol,batch_size=batch_size,class_mode='sparse')

Found 4000 validated image filenames belonging to 7 classes.
Found 1000 validated image filenames belonging to 7 classes.
time: 250 ms (started: 2022-02-17 02:23:19 +01:00)

# Chargement du modèle

In [37]:
efficientnet = tf.keras.models.load_model(root_dir + 'EfficientNetB1_model')

time: 17 s (started: 2022-02-17 02:10:44 +01:00)

In [94]:
test_generator = ImageDataGenerator().flow_from_dataframe(dataframe = df_test,
                                                        x_col = "file_path",y_col="label",
                                                          shuffle = False,
                                                        # to match df_test order 
                                                          target_size=resol,batch_size=batch_size,class_mode='sparse')

Found 1000 validated image filenames belonging to 7 classes.
time: 63 ms (started: 2022-02-17 02:35:05 +01:00)

In [95]:
y_prob = efficientnet.predict(test_generator,len(df_test)//batch_size)
test_pred_class= np.argmax(y_prob , axis=1)

time: 1min 17s (started: 2022-02-17 02:35:08 +01:00)

In [57]:
print(test_pred_class)

[1 3 2 2 1 1 6 1 0 1 0 3 5 2 1 4 5 5 0 4 2 1 5 5 4 6 1 0 3 5 3 3 1 6 4 2 1
 5 5 6 4 0 6 5 2 4 0 0 4 0 0 6 1 2 4 1 4 6 3 1 2 3 0 6 6 4 5 2 2 1 2 4 0 0
 5 1 4 5 2 1 3 6 1 1 2 3 4 0 1 1 0 4 6 0 2 3 0 2 4 2 3 3 0 0 5 0 5 5 3 3 2
 4 6 3 5 6 6 1 4 2 2 6 6 6 0 2 0 1 0 4 5 3 1 4 6 6 3 3 1 5 4 5 4 4 6 3 0 2
 3 4 2 5 4 1 3 3 0 4 6 0 2 6 0 4 2 5 5 0 1 2 0 4 3 5 3 2 3 6 3 2 0 3 3 0 6
 1 4 3 6 6 5 4 5 4 5 6 3 1 0 4 1 6 1 3 6 1 5 0 6 4 0 4 3 6 1 3 3 6 6 6 2 6
 5 6 0 2 6 3 4 1 5 2 3 2 5 0 3 5 3 1 6 1 0 2 4 0 6 0 3 4 4 5 4 1 3 3 0 4 3
 4 0 4 3 6 5 1 3 0 0 2 4 4 4 3 4 3 2 2 4 2 3 5 6 6 2 3 3 0 6 3 1 5 0 3 4 4
 2 2 0 6 3 3 4 1 6 5 3 1 5 2 3 2 3 2 4 3 6 5 2 1 4 0 4 5 1 2 4 4 6 5 2 6 3
 6 3 3 0 0 3 4 3 5 2 0 4 6 0 0 3 3 4 2 5 2 0 2 3 6 4 5 1 0 5 3 3 1 0 2 6 2
 6 3 3 5 6 3 0 3 5 6 5 1 0 0 6 6 1 3 2 3 6 0 2 2 3 4 3 3 2 5 0 5 2 4 4 5 3
 3 0 2 6 3 0 4 6 4 2 6 6 0 2 0 6 1 5 4 3 0 1 2 4 5 6 2 3 6 6 6 0 3 5 6 0 6
 6 1 0 0 3 4 6 3 0 3 6 4 5 1 4 3 4 0 6 2 2 1 1 1 4 2 2 0 6 5 6 2 3 2 1 2 6
 5 3 1 6 2 4 0 3 4 3 6 3 1 1 6 2 5 6 1 6 1 4 4 3 0 0 1 5 6 6 6 1 0 1 5 5 4
 1 0 0 0 5 6 2 0 4 2 4 2 1 6 2 6 1 2 0 6 3 0 6 6 0 0 6 6 5 3 6 6 4 6 2 4 2
 4 1 3 1 3 2 6 3 1 1 4 5 1 5 0 6 1 1 1 6 2 1 3 2 0 0 1 4 4 0 5 2 4 1 1 3 2
 1 6 4 6 6 4 5 4 6 3 1 1 5 1 3 2 1 6 1 0 5 0 3 6 5 2 3 0 0 6 2 0 4 1 0 4 5
 5 4 6 3 1 3 1 6 2 1 1 3 0 3 0 0 1 3 6 1 3 5 0 4 2 6 0 3 3 6 5 1 3 6 3 1 0
 3 6 0 6 5 5 6 6 5 5 2 0 3 6 1 4 0 3 3 3 2 3 5 3 5 0 4 4 0 5 4 3 3 4 3 0 6
 5 5 4 2 3 1 6 4 1 4 0 3 6 4 4 4 6 1 6 2 2 6 0 0 0 6 4 4 4 3 1 4 1 1 3 0 3
 5 2 2 4 0 6 0 3 5 1 2 6 3 1 3 1 2 0 1 3 5 4 0 4 0 3 5 4 6 6 3 3 2 4 3 5 6
 6 3 4 1 0 3 1 5 0 3 2 3 5 6 4 6 3 4 4 6 1 2 2 2 1 3 5 2 1 6 3 5 1 1 3 1 2
 3 3 0 0 1 5 5 1 2 6 0 0 0 1 6 6 6 1 1 2 2 6 5 6 3 5 2 3 4 5 2 6 2 0 3 3 3
 2 0 0 2 2 1 1 5 1 4 3 6 2 1 0 0 0 5 0 0 6 2 4 3 4 3 2 6 0 1 0 1 3 3 2 3 1
 3 3 0 6 0 4 2 1 2 0 5 5 4 0 6 6 0 6 5 3 4 0 6 2 4 4 2 3 1 0 0 2 5 5 2 6 6
 5 3 3 6 5 0 3 2 3 5 2 2 3 4 4 5 4 4 6 0 1 0 1 0 5 1 5 4 3 3 5 2 0 3 2 2 1
 1 3 3 4 3 2 2 4 4 0 3 0 4 6 6 3 1 3 3 0 5 1 6 3 6 3 6 0 4 3 2 6 3 6 2 5 1
 0]
time: 0 ns (started: 2022-02-17 02:28:01 +01:00)

In [96]:
test_generator.class_indices

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6}

time: 0 ns (started: 2022-02-17 02:36:31 +01:00)

In [120]:
y_test_class= df_test['label'].values.astype(int)
print(metrics.classification_report(y_test_class, test_pred_class))

              precision    recall  f1-score   support

           0       0.01      0.01      0.01       171
           1       0.03      0.03      0.03       133
           2       0.00      0.00      0.00       147
           3       0.00      0.00      0.00       126
           4       0.00      0.00      0.00       136
           5       0.89      0.88      0.88       114
           6       0.01      0.01      0.01       173

    accuracy                           0.11      1000
   macro avg       0.13      0.13      0.13      1000
weighted avg       0.11      0.11      0.11      1000

time: 0 ns (started: 2022-02-17 02:37:16 +01:00)